<%= simple_form_for([@car, @consumption]) do |f| %>
		<div class="row">
			<div class="col-4">
				<%= f.input :kilometers, placeholder: "Nombre de kilomètres au compteur" %>
			</div>
			<div class="col-4">
				<%= f.input :liter_price, placeholder: "Prix au litre" %>	
			</div>
			<div class="col-4">
				<%= f.input :total_price, placeholder: "Prix du plein" %>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<%= f.input :shop , placeholder: "Enseigne pompe à essence" %>
	
			
			</div>
		</div>
		<%= f.submit "Enregistrer", class: 'btn btn-primary' %>
<% end %>  
