<div class="container">	
	<h1 class="main-title">Mes consommations d'essence</h1>
	<hr>
	
	<%= form_tag consumptions_path, method: :get do  %>
		<div class="row">
			<div class="col-12 col-sm-3">
				<%= link_to "Nouveau", new_consumption_path, class: "btn btn-success" %>
			</div>	  
			<div class="col-12 col-sm-3">
				<%= text_field_tag "search[date_from]", @search.date_from, class: "datepicker" %>
			</div>
			<div class="col-12 col-sm-3">
				<%= text_field_tag "search[date_to]", @search.date_to, class: "datepicker" %>
			</div>
			<div class="col-12 col-sm-3">
				<%= submit_tag "Rechercher", class: "btn btn-primary" %>
			</div>
		</div>
	<% end %>
	<br>



		<div class="row">
			<div class="col-12">
				<table class="table table-striped">
				  <thead>
				    <tr>
				   		<th scope="col" class="desktop">Magasin</th>
				      <th scope="col">Date</th>
				      <th scope="col"class="desktop" >Km depart</th>
				      <th scope="col">Km parcourus</th>
				      <th scope="col" class="desktop">€/l</th>
							<th scope="col">€ Total</<th>
							<th></th>
							<th></th>
				    </tr>
				  </thead>
				  	<tbody>
				  		<% @consumptions.order('created_at ASC').each_with_index do |c , index| %>
					  		<tr class="<%= 'red' if c == @consumptions.last   %>">
	  			  			<td class="desktop"><%= c.shop %></td>
					  			<td><%= c.created_at.strftime("%d/%m/%Y") %></td>
					  			<td class="desktop"><%= number_with_precision(c.kilometers, precision: 2) %></td>					  	
									<td><%= number_with_precision(difference(c, index), precision: 2) %></td>
					  			<td class="desktop"><%= c.liter_price %></td>
					  			<td><%= number_with_precision(c.total_price, precision: 2) %></td>
  				  			<td class= "actions">
  				  				<%= link_to edit_consumption_path(c) do %>
  				  					<i class="fas fa-edit"></i>
  				  				<% end %>
  				  			</td>
  				  			<td class= "actions">
  				  				<%= link_to  consumption_path(c), method: :delete, data: {confirm: 'are you sure?'}  do %>		  				
  										<i class="fas fa-trash-alt"></i>
  									<% end %>
  				  			</td>
					  		</tr>
				  		<% end %>
				  	</tbody>
				</table>
			</div>	
		</div>
		<% if @consumptions.any? %>
			<hr>
			<h1 class="main-title">Récapitulatif</h1>
			<div class="consos">
				<div class="row">
					<div class="col-12 col-md-6">
						<p class="red">Utilisation en cours</p>
						<p>Remplissages utilisés : <%= fill_in_count %></p>
						<p>Montant total des consomations utilisées : <%= number_with_precision(total_fillin_prices, precision: 2) %> €</p>
					</div>

					<div class="col-12 col-md-6">
						<p>Nombre de kilomètres parcourus : <%= number_with_precision(total_km.abs, precision: 2) %></p>
						<p>Moyenne du prix au km : <%= number_with_precision(averrage_per_km.abs, precision: 4) %> €</p>
						<p>Moyenne du prix au 100 km : <%= number_with_precision(averrage_for_100km.abs, precision: 2) %> €</p>
					</div>
				</div>
			</div>
		<% end %>

</div>